## 02-1 숫자형

In [1]:
# 정수형
a = 123
a -178
a = 0

In [3]:
# 실수형
a = 1.2
a = -3.45
a = 4.24E10
a = 4.24e-10

In [ ]:
# 8진수
a = 0o177
print(a)

127

In [5]:
# 16진수
a = 0x8ff
b = 0xABC
print(b)

2748

In [8]:
# 사칙 연산
a = 3
b = 4
print(a+b, a-b, a*b, a/b)

7 -1 12 0.75

In [10]:
# 거듭제곱
a = 3
b = 4
a ** b

81

In [11]:
# 나눗셈 나머지
print(7 % 3, 3 % 7)

1 3

In [12]:
# 나눗셈 몫
print(7 / 4, 7 // 4)

1.75 1

In [15]:
# 복합 연산자
a = 1
a = a + 1
print(a)
b = 1
b += 1
print(b)

2
2

In [16]:
a = 1
a -= 1
print(a)

0

## 02-2 문자형 자료형

In [17]:
"Hello World"
'Python is fun'
"""Life is too short, You need python"""
'''Life is too short, You need python'''

'Life is too short, You need python'

In [20]:
food = "Python's favorite food is perl"
print(food)

Python's favorite food is perl

In [21]:
say = '"Python is very easy." he says.'
print(say)

"Python is very easy." he says.

In [23]:
# 역슬래시 사용
food = 'Python\'s favorite food is prel'
say = "\"Python is very easy.\" he says."
print(food)
print(say)

Python's favorite food is prel
"Python is very easy." he says.

In [ ]:
# 여러 줄
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [27]:
multiline='''
... Life is too short
... You need python
... '''
print(multiline)

Life is too short
You need python

In [28]:
multiline="""
... Life is too short
... You need python
... """
print(multiline)

Life is too short
You need python

In [ ]:
# 문자열 더해서 연결하기
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [31]:
# 문자열 곱하기
a = 'python'
a * 2

'pythonpython'

In [32]:
# 문자열 길이 구하기
a = "Life is too short"
len(a)

17

In [35]:
# 문자열 인덱싱
a = "Life is too short, You need Python"
print(a[3], a[0], a[12], a[-1], a[-0], a[-2], a[-5])

e L s n L o y

In [41]:
# 문자열 슬라이싱
b = a[0] + a[1] + a[2] + a[3]
print(b, a[0:4], a[0:3])

Life Life Lif

In [42]:
a[0:5]

'Life '

In [44]:
print(a[0:2], a[5:7], a[12:17], a[19:], a[:17], a[:], a[19:-7])

Li is short You need Python Life is too short Life is too short, You need Python You need

In [45]:
a = "20230331Rainy"
date = a[:8]
weather = a[8:]
date, weather

('20230331', 'Rainy')

In [46]:
year = a[:4]
day = a[4:8]
weather = a[8:]
year, day, weather

('2023', '0331', 'Rainy')

In [47]:
a = 'pithon'
a[:1] + 'y' + a[2:]

'python'

In [49]:
# 숫자 바로 대입
"I eat %d apples." % 3

'I eat 3 apples.'

In [50]:
# 문자열 바로 대입
"I eat %s apples" % 'five'

'I eat five apples'

In [51]:
# 숫자값을 나타내는 변수로 대입
num = 3
'I eat %d apples.' % num

'I eat 3 apples.'

In [52]:
# 2개 이상의 값 넣기
num = 10
day = 'three'
'I ate %d apples. so I was sick for %s days.' % (num, day)

'I ate 10 apples. so I was sick for three days.'

In [54]:
print('I have %s apples.' % 3)
print('rate is %s' % 3.234)

I have 3 apples.
rate is 3.234

In [55]:
'Error is %d%%.' % 98

'Error is 98%.'

In [56]:
# 정렬과 공백
"%10s" % 'hi'

'        hi'

In [57]:
"%-10sjane." % 'hi'

'hi        jane.'

In [58]:
#소수점 표현하기
print('%0.4f' % 3.42134234)
print('%10.4f' % 3.42134234)

3.4213
    3.4213

In [ ]:
# format 함수를 사용한 포매팅 - 숫자 바로 대입하기
'I eat {0} apples.'.format(3)

'I eat 3 apples.'

In [60]:
#문자열 바로 대입하기
'I eat {0} apples'.format('five')

'I eat five apples'

In [61]:
# 숫자 값을 가진 변수로 대입하기
num = 3
'I eat {0} apples'.format(num)

'I eat 3 apples'

In [63]:
# 2개 이상의 값 넣기
num = 10
day = 'three'
'I ate {0} apples. so I was sick for {1} days.'.format(num, day)

'I ate 10 apples. so I was sick for three days.'

In [65]:
# 이름으로 넣기
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [66]:
# 인덱스와 이름을 혼용해서 넣기
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [67]:
# 왼쪽 정렬
"{0:<10}".format("hi")

'hi        '

In [68]:
# 오른쪽 정렬
"{0:>10}".format("hi")

'        hi'

In [69]:
# 가운데 정렬
"{0:^10}".format("hi")

'    hi    '

In [70]:
# 공백 채우기
"{0:=^10}".format("hi")

'====hi===='

In [71]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [73]:
# 소수점 표현하기
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [74]:
"{0:10.4f}".format(y)

'    3.4213'

In [75]:
"{{ and }}".format()

'{ and }'

In [76]:
# f 문자열 포매팅
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [77]:
age = 30
f'나는 내년이면 {age + 1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [78]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [79]:
f"난 {1500000:,}원이 필요해"

'난 1,500,000원이 필요해'

In [81]:
# 문자 개수 세기 - count
a = "hobby"
a.count('b')

2

In [82]:
# 위치 알려 주기 1 - find
a = "Python is the best choice"
print(a.find('b'), a.find('k'))

14 -1

In [85]:
# 위치 알려 주기 2 - index
a = "Life is too short"
print(a.index('t'))
print(a.index('k'))

8

ValueError: substring not found

In [86]:
# 문자열 삽입 - join
",".join('abcd')

'a,b,c,d'

In [87]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [88]:
# 소문자를 대문자로 바꾸기 - upper
a = "hi"
a.upper()

'HI'

In [89]:
# 대문자를 소문자로 바꾸기 - lower
a = "HI"
a.lower()

'hi'

In [90]:
# 왼쪽 공백 지우기 - lstrip
a = " hi "
a.lstrip()

'hi '

In [91]:
# 오른쪽 공백 지우기 - rstrip
a= " hi "
a.rstrip()

' hi'

In [92]:
# 양쪽 공백 지우기 - strip
a = " hi "
a.strip()

'hi'

In [93]:
# 문자열 바꾸기 - replace
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [94]:
# 문자열 나누기 - split
a = "Life is too short"
print(a.split())
b = "a:b:c:d"
print(b.split(':'))

['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']

## 02-3 리스트 자료형

In [5]:
# 리스트의 인덱싱
a = [1, 2, 3]
a

[1, 2, 3]

In [6]:
a[0]

1

In [7]:
a[0] + a[2]

4

In [8]:
a[-1]

3

In [9]:
a = [1, 2, 3, ['a', 'b', 'c']]
print(a[0])
print(a[-1])
print(a[3])

1
['a', 'b', 'c']
['a', 'b', 'c']

In [11]:
print(a[-1][0])
print(a[-1][1])
print(a[-1][2])

a
b
c

In [12]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
print(a[2][2][0])

Life

In [13]:
# 리스트의 슬라이싱
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [14]:
a = '12345'
a[0:2]

'12'

In [16]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
print(b)
print(c)

[1, 2]
[3, 4, 5]

In [17]:
# 중첩된 리스트에서 슬라이싱하기
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[2:5])
print(a[3][:2])

[3, ['a', 'b', 'c'], 4]
['a', 'b']

In [18]:
# 리스트 연산하기
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [19]:
# 리스트 반복하기
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [20]:
# 리스트 길이 구하기
a = [1, 2, 3]
len(a)

3

In [21]:
str(a[2]) + 'hi'

'3hi'

In [22]:
# 리스트의 값 수정하기
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [23]:
# del 함수를 사용해 리스트 요소 삭제하기
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [24]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

In [25]:
# 리스트에 요소 추가하기 - append
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [26]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [27]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [28]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [29]:
# 리스트 뒤집기 - reverse
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [30]:
# 인덱스 반횐 - index
a = [1, 2, 3]
print(a.index(3))
print(a.index(1))

2
0

In [31]:
# 리스트에 요소 삽입 - insert
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [32]:
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

In [33]:
# 리스트 요소 제거 - remove
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [34]:
a.remove(3)
a

[1, 2, 1, 2]

In [36]:
# 리스트 요소 끄집어 내기 - pop
a = [1, 2, 3]
print(a.pop())
a

3

[1, 2]

In [37]:
a = [1, 2, 3]
print(a.pop(1))
a

2

[1, 3]

In [39]:
# 리스트에 포함된 요소 x의 개수 세기 - count
a = [1, 2, 3, 1]
a.count(1)

2

In [40]:
# 리스트 확장 - extend
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [41]:
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]