# 02-1 숫자형

In [ ]:
#1-1 정수형
a = 123
print(a)
a = -123
print(a)
a = 0
print(a)

123
-123
0

In [ ]:
#1-2 실수형
a = 1.2
print(a)
a = -45.164
print(a)

1.2
-45.164

In [ ]:
a = 4.24E10 #==4.24e10, 4.24*10^10
print(a)
a = 4.24e-10 #4.24^(-10)
print(a)

42400000000.0
4.24e-10

In [ ]:
#1-3 8진수와 16진수
print("8진수")
a = 0o177
print(a)
print("=====")
print("16진수")
a = 0xABC #10(A)*16^2 + 11(B)*16^2 + 12(C)
b = 0x8ff
print(a)
print(b)

8진수
127
=====
16진수
2748
2303

In [ ]:
#2-1  연산자 : 사칙연산
a = 3
b = 4
print(a+b)
print(a+b)
print(a*b)
print(a/b)

7
7
12
0.75

In [ ]:
#2-2 연산자 : 제곱
print(a**b)

81

In [ ]:
#2-3~4 연산자 : 나머지
print(5%2)
print(5//2)
print(5/2)

1
2
2.5

In [ ]:
#2-5 연산자 : 복합연산자
a = 5
a += 1 #== a = a + 1
print(a)

6

# 02-2 문자열 자료형

In [ ]:
#1~3 문자열 사용
print("Hello World") #1.큰따옴표로 양쪽 둘러싸기
print("Python's favorite food is perl")
print("-------------------------------")
print('Hello World') #2. 작은 따옴표로 양쪽 둘러싸기)

Hello World
Python's favorite food is perl
-------------------------------
Hello World

In [ ]:
#역슬래시 사용해 작은따옴표, 큰따옴표 문자열에 포함시키기
food = 'Python\'s favorite food is perl' #작은 따옴표 앞에 역슬래시
say = "\"Python is very easy.\" he says" #큰 따옴표 앞에 역슬래시
print(food)
print(say)

Python's favorite food is perl
"Python is very easy." he says

In [ ]:
1
#1. 이스케이프 코드 \n 삽입
multiline = "Life is too short\nYou need python"
print(multiline)
print("=======================")
#2. 연속된 작은/큰 따옴표 3개
multiline = '''
Life is too short
You need python
'''
print(multiline)
multiline = """
Life is too short
You need python
"""
print(multiline)

Life is too short
You need python
=======================

Life is too short
You need python


Life is too short
You need python

In [ ]:
#이스케이프 코드
'''
\n : 문자열 안에서 줄을 바꿀 때 사용
\t : 문자열 사이에 탭 간격을 줄 때 사용
\\ : \를 그대로 표현할 때 사용
\' : 작은따옴표(')를 그대로 표현할 때 사용
\" : 큰따옴표(")를 그대로 표현할 때 사용
===============================================
\r : 캐리지 리턴(줄 바꿈 문자, 커서를 현재 줄의 가장 앞으로 이동)
\f : 폼 피드(줄 바꿈 문자, 커서를 현재 줄의 다음 줄로 이동)
\a : 벨 소리(출력할 때 PC 스피커에서 '삑' 소리가 난다)
\b : 백 스페이스
\000 : 널 문자
'''

In [ ]:
#4. 문자열 연산

In [ ]:
#4-1 문자열 더하기
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [ ]:
#4-2 문자열 곱하기
print(head * 2)
#응용
print("=" * 50)
print("My Program")
print("=" * 50)

PythonPython
==================================================
My Program
==================================================

![image.png]()

In [ ]:
#4-3 문자열 길이 구하기
a = "Life is too short"
len(a)

17

In [ ]:
#4-4 인덱싱, 슬라이싱
print("인덱싱==================")
a = "Life is too short, You need Python"
print(a[5])
print(a[0]) # ==a[-0]
print(a[-2])
print(a[2:5])
print("슬라이싱===============")
b = a[0] + a[1] + a[2] + a[3]
print(b)
print(a[0:3]) #0 <= a < 3
print(a[3:8])
print(a[19:])
print(a[:])

인덱싱==================
i
L
o
fe
슬라이싱===============
Life
Lif
e is
You need Python
Life is too short, You need Python

In [ ]:
#슬라이싱으로 문자열 나누기
a = "20250320Rainy"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20250320
Rainy

In [ ]:
#4-5 문자열 포매팅
#1. 숫자 바로 대입, %d : 숫자
print("I eat %d apples." %3)
#2. 문자열 바로 대입, %s : 문자열
print("I eat %s apples." %"five")
#3. 변수로 대입
num = 3
print("I eat %d apples." %num)
#4. 2개 이상의 값 넣기
num = 10
day = "three"
print("I ate %d apples. so I was sick for %s days" %(num, day))

I eat 3 apples.
I eat five apples.
I eat 3 apples.
I ate 10 apples. so I was sick for three days

In [ ]:
#4-6 문자열 포맷코드

In [ ]:
'''
문자열 포맷 코드
%s :	문자열(String)
%c :	문자 1개(character)
%d :	정수(Integer)**
%f :	부동소수(floating-point)
%o :	8진수
%x :	16진수
%% :	Literal % (문자 % 자체)
'''

In [ ]:
# #%s는 어떤 형태의 값이든 변환하여 넣을 수 있다.
a = "rate is %s"
print(a % 3)
print(a % 3.123)

rate is 3
rate is 3.456

In [ ]:
#%d와 %를 같이 쓸때는 %%를 쓴다.
print("Error is %d%%" %98)

Error is 98%

In [ ]:
#4-7 포맷 코드와 숫자 함께 사용하기
#1. 정렬과 공백
print("hi")
print("%10s" % "hi") #>> %10s : 전체길이가 10개인 문자열 공간에
                     #          대입되는 값(hi)를 오른쪽으로 정렬, 나머지는 공백으로
print("%-10s" %"hi") #>> %-10s : 왼쪽 정렬
print("%-10sjane." %"hi") #>> %-10s : 왼쪽 정렬

hi
        hi
hi
hi        jane.

In [ ]:
#2. 소수점 표현하기
#소수점을 일정 자리까지 나타내기
a = 3.5465132
print("%0.4f" %a)
#소수점 포인트 앞의 숫자는 문자열 전체의 길이.(0은 길이 상관X)
#%0.4f == %.4f
print("%10.4f" %a)
#%10.4f
#1. 소수점 4번째 자리까지만 표시
#2. 전체 길이가 10개인 문자열 공간에서 오른쪽으로 정렬

3.5465
    3.5465

In [ ]:
#4-8 format함수를 사용한 포매팅

In [ ]:
#1. 숫자 바로 대입하기
string = "I eat {0} apples"
print(string.format(3))
#2. 문자열 바로 대입하기
print(string.format("five"))
#3. 숫자 값을 가진 변수로 대입하기
num = 3
print(string.format(num))

I eat 3 apples
I eat five apples
I eat 3 apples

In [ ]:
#4. 2개 이상의 값 넣기
day = "three"
print("I ate {0} apples. so I was sick for {1} days".format(num, day))
#5. 이름으로 넣기
print("I ate {num} apples. so I was sick for {day} days".format(num=10, day=5))
#6. 인덱스와 이름을 혼용해서 넣기
print("I ate {0} apples. so I was sick for {day} days".format(num, day=5))

I ate 3 apples. so I was sick for three days
I ate 10 apples. so I was sick for 5 days
I ate 3 apples. so I was sick for 5 days

In [ ]:
#7. 왼쪽/오른쪽/가운데 정렬, 공백 채우기
print("{0:<10}".format("hi")) #:<10 >> 치환되는 문자열 왼쪽 정렬, 총 자릿수 10
print("{0:>10}".format("hi")) #오른쪽 정렬
print("{0:^10}".format("hi")) #가운데 정렬
print("{0:=^10}".format("hi")) #정렬문자 앞에 지정한 문자 값으로 공백 채우기
print("{0:!>10}".format("hi"))

hi
        hi
    hi
====hi====
!!!!!!!!hi

In [ ]:
#8. 소수점 표현하기
x = 3.123123456
print("{0:0.4f}".format(x))
print("{0:7.4f}".format(x))
#9. {또는} 문자 표현하기(중괄호 문자를 포매팅 문자가 아닌 문자 그대로 사용)
print("{{and}}".format())

3.1231
 3.1231
{and}

In [ ]:
#4-9 f 문자열 포매팅
name = "이름"
age = "123"
print(f"나의 이름은 {name}입니다. 나이는 {age}입니다.")

나의 이름은 이름입니다. 나이는 123입니다.

In [ ]:
#딕셔너리
d = {"name":"이름", "age":"30"}
print(f"나의 이름은 {d['name']}입니다. 나이는 {d['age']}입니다.")
#f문자열을 사용하여 금액에 콤마 삽입
print(f"난 {15000000:,}원이 필요해")

나의 이름은 이름입니다. 나이는 30입니다.
난 15,000,000원이 필요해

In [ ]:
#4-10 문자열 관련 함수들
#1. 문자 개수 세기 : count
ck = "{num}" + "=" * 50
print(ck.format(num=1))
a = "Python is the best choice"
print(a.count("e"))
#2. 위치 알려주기 1 - find
print(ck.format(num=2))
print(a.find("i"))
print(a.find("a"))
#3. 위치 알려주기 2 - index
print(ck.format(num=3))
print(a.index("b"))
#print(a.index("k")) << 없으면 오류

1==================================================
3
2==================================================
7
-1
3==================================================
14

In [ ]:
#4. 문자열 삽입
print(ck.format(num=4))
print(",".join("abcd"))
print(",".join(["a","b", "c", "d"]))
#5. 소문자/대문자 변경
print(ck.format(num=5))
a = "hi"
A = "HI"
print(a.upper())
print(A.lower())
#6. 공백 지우기(왼쪽, 오른쪽, 양쪽)
print(ck.format(num=6))
l = " hi"
r = "hi "
s = " hi "
print(l.lstrip()) #왼쪽공백지우기
print(r.lstrip()) #오른쪽공백지우기
print(s.strip())  #양쪽공백지우기
#7. 문자열 바꾸기
print(ck.format(num=7))
a = "Life is too short"
print(a.replace("Life", "Your leg"))
#8. 문자열 나누기
print(ck.format(num=8))
a.split()
print(a.split())
b = "a:b:c:d"
print(b.split(":")) #':' 을 기준으로 split
#+a)
print(b) #<<값이 바뀌진 않음.

4==================================================
a,b,c,d
a,b,c,d
5==================================================
HI
hi
6==================================================
hi
hi
hi
7==================================================
Your leg is too short
8==================================================
['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']
a:b:c:d

# 02-3 리스트 자료형

In [3]:
#1. 리스트
a = [1, 2, 5, 6] #리스트명 = [요소1, 요소2, 요소3, ...]
#요소에는 숫자형, 문자열등이 들어갈 수 있음
b = [1, 2, "a", "b"]
c = [1, 2, ["a", "b"]]
d = list()

In [10]:
#2. 리스트 인덱싱, 슬라이싱
#2-1. 인덱싱
a = [1, 2, 3]
print(a[0]) #0부터 시작
print(a[-1])
b = [1, 2, ["a", "b"]]
print(b[2]) #요소1 == 1, 요소2 == 2, 요소3 == ["a", "b"]
print(b[2][1]) #요소3에서 요소2 빼오기

1
3
['a', 'b']
b

In [1]:
#2-2. 슬라이싱
a = [1, 2, 3, 4, 5]
print(a[0:3]) #0이상, 3미만
b = [1, 2, ["a", "b"], 3]
print(b[2][0])

[1, 2, 3]
a

In [3]:
#3. 리스트 연산
#3-1. 리스트 더하기
a = [1, 2, 3]
b = [4, 5, 6]
print(a+b)

[1, 2, 3, 4, 5, 6]

In [5]:
#3-2. 리스트 반복하기
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [6]:
a = [1, 2, 3]
print(len(a))
string = "Hello wolrd!"
print(len(string))

3
12

In [8]:
#4. 리스트 수정, 삭제
#4-1. 리스트의 값 수정하기
a = [1, 2, 3, 4, 5]
a[3] = 0
a #[1, 2, 3, 0, 5]

[1, 2, 3, 0, 5]

In [11]:
#4-2. del 함수를 사용해 리스트 요소 삭제하기
a = [1, 2, 3, 4, 5]
del a[2] #del 객체
print(a)
del a[0:2]
print(a)

[1, 2, 4, 5]
[4, 5]

In [1]:
#5. 리스트 관련 함수

In [13]:
#5-1. append : 리스트에 요소 추가
a = [1, 2, 3]
a.append(5) #리스트 마지막에 추가
print(a)
a.append([7, 8])
print(a)

[1, 2, 3, 5]
[1, 2, 3, 5, [7, 8]]

In [15]:
#5-2. reverse : 리스트 뒤집기
a = [1, 2, 3]
a.reverse()
print(a)
b = ["a", "b", "c"]
print(b)

[3, 2, 1]
['a', 'b', 'c']

In [17]:
#5-3. index : 인덱스 반환
a = [1, 2, 3]
a.index(3) #x의 인덱스 값(위칫값)을 리턴, 값이 없으면 오류

2

In [22]:
#5-4. insert : 리스트에 요소 삽입
a = [1, 2, 3]
a.insert(0, 9) #0번째 위치에 9를 삽입
print(a)
a.insert(3, [1, 2])
print(a)

[9, 1, 2, 3]
[9, 1, 2, [1, 2], 3]

In [25]:
#5-5. remove : 리스트 요소 제거
a = [1, 2, 3, 1, 2, 3]
a.remove(2)
print(a) #첫 번째 2만 삭제
a.remove(2)
print(a) #2 전부 삭제

[1, 3, 1, 2, 3]
[1, 3, 1, 3]

In [29]:
#5-6. pop : 리스트 요소 끄집어 내기
a = [1, 2, 3]
a.pop() #맨 마지막 요소를 끄집어내고 삭제
print(a)
a.pop(1) #특정 요소 끄집어내기 가능
print(a)

[1, 2]
[1]

In [30]:
#5-7. count ; 리스트에 포함된 요소 x의 개수 세기
a = [1, 2, 3, 2]
a.count(2)
a

[1, 2, 3, 2]

In [32]:
#5-8. extend : 리스트 확장
a = [1, 2, 3]
a.extend([9, 8])
a #원래의 리스트에 다른 리스트를 더함

[1, 2, 3, 9, 8]